body{
    background-color: #1d2024;
}
header{
    background-color: #212529;
}

h1{
    color: white;
}
h3{
    color: white;}

span{
    color:#0d6efd;
}

p{
    color: white;
}

.list_nav{
    display: flex;
    justify-content: space-around;
}


.first{
    height: 100vh;
}
.profile_pic{
    margin-top: 7%;
    width: 20%;
    border-radius: 50%;
}
.intro {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin-top: 0px;
}
.links{
    margin-top: 25px;
    background-color: #212529;
    width:60%;
}

.submit-button {
    background-color: #0d6efd; /* Blue background color */
    color: white; /* White font color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Adjust font size as needed */
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #0b5ed7; /* Darker shade of blue on hover */
    /* You can adjust the hover effect as needed */
}
.Navbar {
    position: fixed;
    z-index: 1000;
    left: 15%; /* Adjust the left position as needed */
    display: flex;
    justify-content: space-around;
    width: 70%;
    background-color: #212529;
}
.about{
    display: flex;
    justify-content: space-around;
    margin-top: 14%;
}
.para{
    margin-top: 25px;
}
.about img{
    margin-top: 0px;
}
.second{
    height: 70vh;
}
