* {
    cursor: none;
  }
  
body{
    background-color: #1d2024;
}
header{
    background-color: #212529;
}

h1{
    color: white;
}
h3{
    color: white;}

span{
    color:#0d6efd;
}

p{
    color: white;
}

.list_nav{
    display: flex;
    justify-content: space-around;
}
.links a:hover{
    color: #0b5ed7;
    transform: translateY(-5px);
}
.links button:hover{
    color: #0b5ed7;
    transform: translateY(-5px);
}

.first{
    height: 100vh;
}
.profile_pic{
    margin-top: 7%;
    width: 20%;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 0.5s;
}
.profile_pic:hover{
    box-shadow: 0 0 30px #0b5ed7;

}
.intro {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin-top: 0px;
}
.links{
    margin-top: 25px;
    background-color: #212529;
    width:60%;
}

.submit-button {
    background-color: #0d6efd; /* Blue background color */
    color: white; /* White font color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Adjust font size as needed */
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #0b5ed7; /* Darker shade of blue on hover */
    color:white;
    /* You can adjust the hover effect as needed */
}
.Navbar {
    position: fixed;
    z-index: 1;
    left: 15%; /* Adjust the left position as needed */
    display: flex;
    justify-content: space-around;
    width: 70%;
    background-color: #212529;
}
#linkdin {
    color: blue;
    text-decoration: none; /* Remove underline */

}

#linkdin:hover {
    color: white;
}


.about{
    display: flex;
    justify-content: space-around;
    margin-top: 14%;
}
.para{
    margin-top: 25px;
}
.about img{
    margin-top: 0px;
}
.second{
    height: 100vh;
    padding-top: 1%;
}
.head_skill{
    background-color: #272b2f;
}
.skill_box{
    background-color:#424549 ;
}
.skills{
    height: 40vh;
}

.projects{
    display: flex;
    justify-content: space-evenly;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    float: left;
    gap: 10px;
  }
  
  .project-item {
    background-color: #272b2f;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .image-display img{
    width:70%;
  }

  .project-item:hover {
    background-color: #0d6efd;
  }
  .project-item:hover span{
    color: white;
  }
  
  #project-image{
    width: 900px;
    margin: 10px;
    
  }
  .bord{
    border: 5px solid #0d6efd;
    border-radius: 2%;
  }

.skill_navb{
    height: 95vh;
}

  

/* constact */
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:35%;
}
.contact-left p{
    margin-top:30px;
}
.contact-left p i{
    color: #0b5ed7;
    margin-right:15px;
    font-size:25;

}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration:none ;
    font-size: 30px;
    margin-right: 15px;
    color:white;
    display: inline-block;
    transition:transfrom 0.5s;

}
.social-icons a:hover{
    color: #0b5ed7;
    transform: translateY(-5px);
}

.btn.btn2{
    display:inline-block;
    background: #0b5ed7;
    color: white;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background: #272b2f;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size:18px;
    border-radius:6px;
}

form btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding:25px;
    background: #272b2f;
    font-weight: 300;
    margin-top:20;
}

#contact{
    margin-top: 100px;
}
.copyright p{
    color: #0b5ed7;
    font-size: 1.5rem;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.a{
    transition: 0.5s;
}
.a:hover{
    letter-spacing: 0.25em;
    box-shadow: 0 0 10px #0b5ed7;
}
.a_s{
    transition: 0.5s;
}
.a_s:hover{
    letter-spacing: 0.2em;
}
.box_p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0b5ed7;
  z-index: 1;
}

.light{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y),transparent 10%, rgba(0,0,0,0.95) 20%);
  }

.cursor {
    position: absolute;
    top :0;
    left: 0;
    width: 20px;
    height: 20px;
    pointer-events: none;
    scale: 2;
    border-radius: 50%;
    background: #fff;
    transition: 0.0s;
    transform: translate(-50%,-50%);
    mix-blend-mode:soft-light;
    z-index: 4;
  }
  

* ~ .cursor{
    mix-blend-mode:color-burn;
}
.a_s:hover svg {
    fill: #0b5ed7; 
  }
.a_s:hover  .a_e{
    color: #0b5ed7; 
  }
.a_e{
    color: white;
}
.HYPER{
    font-family: "Space Mono", monospace;
}
